div {
    border:none;
    width: 512px;
    height:384px;
    padding-top: 600px;
    padding-bottom: 500px;
    margin-left: 700px; }


img { width: 50%;
    height: 50%;}
#btn {
    display:none;
}


body { text-align: center;
    background: black;
    font-family: Helvetica,Arial, sans-serif;
    margin: 50px;
    height: 500px;
    margin-bottom: 50px;
    width: 1000px;}

h1 {font-size: 75px;
    color: white; 
    text-align: center;
    padding-left: 120px;
    }


    .button {text-align: right; 
        padding-bottom: 40px;
        padding-right: 50px;
        
        }
    
    a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    align: right;
    font-family: Arial, Helvetica, sans-serif;
    }
    