div {
    border:none;
    width: 512px;
    height:384px;
    padding-top: 600px;
    padding-bottom: 500px;
    margin-left: 700px; }


img { width: 50%;
    height: 50%;}
#btn {
    display:none;
}


body { text-align: center;
    background: black;
    font-family: Helvetica,Arial, sans-serif;
    margin: 50px;
    margin-bottom: 100px;
    width: 1200px;}

h1 {font-size: 100px;
    color: white; 
    text-align: center;
    }

