body {
    background-color: #000fff;
    font-size: 30px;
    padding: 20px;
  }
  
  
  a {
    text-decoration: none;
    color:white;
     }
  a:hover{color:rgb(25, 0, 255);  }
  
  
  h1 {font-size: 80px;
    text-align: center;
    color: white;
    font-family: 'Roboto'; monospace;}
  
  .c1 {background: black;
      padding: 100px;
      display: inline-block
      flex: 33.33%;
      padding: 50px;}
  
  .row {display: flex;
        padding: 0px;}
  .c1 {float: left;
      width: 50%;}
  
  .c2 {float: left;
      width: 50%%;}
  
  
  
  .c4 {float: left;
      width: 200%;}
  
  .c4 {width: 33%;}
  .c5 {width: 66%;}
  h2 {font-size: 30px;
    text-align: center;
    color: blue;} 
   img {width: 100%}
  
  h3 {color: green;
        font-family: Serif;}