
img { width: 768px;
    height: 1024px;}


body { text-align: center;
    background: black;
    font-family: Helvetica,Arial, sans-serif;}

h1 {font-size: 100px;
    color: white; 
    text-align: left;
    }

    h2 {font-size: 100px;
        color: white; 
        text-align: left;
        }
    
   .button {text-align: right; 
    padding-bottom: 40px;
    padding-left: 200px;
    font-size: 30px;
    margin: 0px;
    
    }

a {
font-size: 30px;
text-decoration: none;
color: white;
align: right;
font-family: Arial, Helvetica, sans-serif;
margin: 0px;
}
