a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.about {font-size: 25px; line-height: 70%; color: black; font-weight: 100; padding: 0px; margin: 0px; letter-spacing: 0.01em;}
.style {font-color:lightblue; font-size: 20px; line-height: 70%; padding: 80px;}
nav li {display:inline-block; margin: 25px 0px 0px 160px; padding: 0px 0px; line-height: 30px;}
nav a  {font-size: 25px;color: blue; font-weight: 100;}
nav a:hover {font-size: 19pt; color: blue; font-weight: 100;}
nav h1 {float: left;}
.active {border-bottom: 5px; text-decoration: none; solid black; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;margin: 20px 0px 0px 20px;}
h1 {font-size: 20px; margin: 0px; padding:0; line-height: 70%; letter-spacing: .01em;}
.left, .left2, .right, .right2, .left3, .right3 {display: inline-block; margin: 0px 0px 0px 20px; margin-top: 20px; max-width: ;}
.title {font-size: 25px; line-height: 70%; color: black; font-weight: 100; padding: 0px; margin: 0px}
.title:hover {font-size: 25px;color: blue; font-weight: 100;}
img { max-width: 150%; height: auto; padding: 10px;}

section {font-size: 20px;}
section p {line-height: 1; color: #bcbec0;}



    img:hover {
    opacity: .5;
    filter: alpha(opacity=100); /* For IE8 and earlier */}

    img.center {
    display: block;
    margin: 0 auto;}
     
    img { padding-top: 25px; }
        @media screen and (max-width: 44em) {
  nav[role="full-horizontal"] {
    ul > li {
      width: 100%;
    }
  }
}



@media all and (min-width: 0px) {
  .centered {width: 300px;}
  .left, .left2, .right, .right2 , .left3, .right3 {width: 35%;}
  
  }
  
  
  @media all and (min-width: 501px) {
  .centered {width: 495px;}
  .left, .left2, .right, .right2 , .left3, .right3{width: 35%;}
  nav li {display:inline-block; margin: 25px 0px 0px 10px;}
  header img {display:none;}
  .intro {margin: 0 0 20px 120px;}
  }
  @media all and (min-width: 570px) {
  nav li {display:inline-block; margin: 25px 0px 0px 40px;}
  .intro {margin: 0 0 20px 200px;}}
  
  @media all and (min-width: 650px) {
  .centered {width: 550px;}
  .left, .left2, .right, .right2, .left3, .right3 {width: 35%;}
  .intro {margin: 0 0 20px 250px;}
  
  }
  @media all and (min-width: 800px) {
  .centered {width: 700px;}
  .left, .left2, .right, .right2, .left3, .right3 {width: 35%;}
  nav li {display:inline-block; margin: 25px 0px 0px 80px;}
  }
  @media all and (min-width: 900px) {
  .centered {width: 850px; padding-left: 40px;}
  .left, .left2, .right, .right2, .left3, .right3 {width: 35%;}
  .intro {margin: 0 0 40px 300px;}
  }
  @media all and (min-width: 1000px) {
  .centered {width: 950px; padding-left: 90px;}
  .left, .left2, .right, .right2, .left3, .right3 {width: 35%;}
  nav li {display:inline-block; margin: 25px 0px 0px 120px;}
  }
  @media all and (max-width: 500px) {
  nav li { display: none;}
  header img {width: 50px; padding-left: 30px; padding-top: 30px;}
  .intro {display: none;}
  }
  
  
